[Unit]
Description=WireGuard Reconnect Service
After=network.target

[Service]
ExecStart=wireguard_keepalive
Restart=always
User=root

[Install]
WantedBy=default.target

